@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface text-on-surface antialiased font-body-md min-h-screen;
  }
}

@layer utilities {
  .pb-safe { padding-bottom: env(safe-area-inset-bottom); }
  
  .bg-tilled-soil {
    background-color: #EFEAE0;
    background-image: radial-gradient(circle at 1px 1px, rgba(58, 55, 51, 0.09) 1px, transparent 0),
                      linear-gradient(to right, rgba(58, 55, 51, 0.04) 1px, transparent 1px);
    background-size: 24px 24px, 48px 48px;
  }
}
